.title-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.my-team__social-list-footer {
    display: flex;
    align-items: center;
}

.footer-my-team__social-list-icon {
    fill: #FFFFFF;
    width: 20px;
    height: 20px;
}

.footer-my-team__social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #2196F3;
    }
}


.my-team__social-link-item:not(:last-child) {
    margin-right: 10px;
}

