.portfolio__btn-navigation {
    background-color: #F5F4FA;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        background-color: var(--accent-color);
        cursor: pointer;
        color: #FFFFFF;
    }
}

.portfolio__modal-btn-item{
    &:hover,
    &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &:not(:last-child) {
        margin-right: 8px;
    }
}

.work-list__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: #212121;
}

.work-list__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

.work-list__link {
    margin-left: 30px;
    margin-top: 30px;
}

.work-list__item {
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

