.portfolio__navigation-modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -30px;
    margin-left: -30px;
}

.work-list__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.work-list__container-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-top: none;
    padding-left: 24px;
    padding-right: 24px;
}

.work-list__content-wrapper {
    position: relative;
    overflow: hidden;
}
