.container-header {
    padding-right: 15px;
    padding-left: 15px;
    
    @media screen and (min-width: 480px) {
        width: 480px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    @media (min-width: 768px) {
            width: 768px;
    }

    @media screen and (min-width: 1200px) {
            width: 1200px;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
            width: 480px;
    }

    @media screen and (min-width: 768px) {
            width: 768px;
        }

    @media screen and (min-width: 1200px) {
            width: 1200px;
            padding-bottom: var(--section-pb);
            padding-top: var(--section-pt);
    }
}